:root {
  --color-bg: var(--gray-12);
  --color-border-soft: var(--gray-9);
  --color-border: var(--gray-7);
  --color-border-hard: var(--gray-4);
  --color-panel-soft: var(--gray-11);
  --color-panel: var(--gray-10);
  --color-panel-hard: var(--gray-9);
  --color-panel-hover: var(--gray-8);
  --color-panel-active: var(--gray-7);
  --color-primary: var(--violet-5);
  --color-primary-strong: var(--violet-4);
  --color-text: var(--gray-1);
  --color-link: var(--teal-4);
  --color-link-hover: var(--teal-3);
  --color-code: var(--teal-4);
}
